{:min-bb-version "0.4.3"
 :tasks          {run-server (clojure "-M -m scramble-service.core")
                  test       (clojure "-M:test -m kaocha.runner --config-file tests.edn")
                  test-watch (shell "bb test --watch")}}
